/* background-size
background-position
background-attachment */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

 div{
    min-height: 100vh;
    color: green;
    font-size: 60px;
    display: flex;
    justify-content: center; /* horizontal alignment */
    align-items:center; /* vertical alignment */
}


.big-img{
    background: url("./pexels-photo-1987097.jpeg");
    background-size: cover;
    background-position: center;
}

.small-img{
    border: 2px solid red;
    background: url("pexels-photo-3819232.jpeg");
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
}

.folder-img{
    background: url("./pexels-photo-4705177.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center;
    background-position: bottom;
    background-position: left;
    background-position: right;
    background-position: top; */
    background-position:50% 100% ; /* 100% from bottom 100% top*/
    background-size: cover;
    
}
